h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;  /* Centrer verticalement */
    height: 100vh;
    background-color: red;
}

#timer {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

.playpause {
    width: 120px;          
    height: 120px;         
    border: 7px solid white; 
    border-radius: 50%;    
    cursor: pointer;
    background-color: red; 
    color: white;
    box-shadow: 0px 2px 4px red; 
    display: flex;         
    justify-content: center; 
    align-items: center;   
    font-size: 3rem;  
    margin: 10px auto;  /* Centre horizontalement */
    margin-top: 15%;
}

.circle {
    width: 400px;          
    height: 400px;         
    background-color: red; 
    border-radius: 50%;    
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.8); 
    display: flex;         
    justify-content: center; 
    align-items: center;   
    flex-direction: column; 
    margin: 0 auto; /* Centre horizontalement */
    margin-top: 15%;
}

.travailpause {
    width: 250px;          
    height: 80px;         
    background-color: red; 
    border-radius: 20px;    /* Augmenter le rayon des bords */
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.8); /* Ombre plus douce */
    display: flex;         
    justify-content: space-between; 
    align-items: center;   
    flex-direction: row;  
    padding: 10px 20px;      /* Ajout d'espace intérieur */
    margin: 10px auto;       /* Centre horizontalement */
    margin-top: 15%;
}

.travailpause p {
    margin: 0;            /* Enlève la marge par défaut */
    color: white;         /* Couleur du texte pour qu'il soit visible */
    font-size: 1.5rem;    /* Taille de la police */
}
